@model Application.Models.CreateJobView
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Jobs", FormMethod.Post))
{
    <form class="d-flex">
        <div style="width: 600px; align-self: center;">
            <h3 class="mb-5">Create your Job</h3>

            <div class="form-group">
                <label>Company name</label>
                <div style="display: flex; flex-direction: column; gap: 10px; width: 100%; min-width: 100%">
                    @Html.TextBoxFor(m => m.jobData.CompanyName, new { @class = "form-control skill-input", placeholder = "Input your company name" })
                    @Html.ValidationMessageFor(m => m.jobData.CompanyName, "", new { @class = "text-danger w-100" })
                </div>
            </div>

            <div class="form-group">
                <label>Vacancy</label>
                <div style="display: flex; flex-direction: column; gap: 10px;">
                    @Html.TextBoxFor(m => m.jobData.Vacancy, new { @class = "form-control skill-input", placeholder = "Input vacancy name" })
                    @Html.ValidationMessageFor(m => m.jobData.Vacancy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Minimal experience</label>
                <div style="display: flex; flex-direction: column; gap: 10px;">
                    @Html.TextBoxFor(m => m.jobData.MinExp, new { @class = "form-control skill-input", type = "number", placeholder = "Input minimal experience (year)", min = "0" })
                    @Html.ValidationMessageFor(m => m.jobData.MinExp, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Salary</label>
                <div style="display: flex; flex-direction: column; gap: 10px;">
                    @Html.TextBoxFor(m => m.jobData.Salary, new { @class = "form-control skill-input", type = "number", placeholder = "Input salary (EUR)", min = "0" })
                    @Html.ValidationMessageFor(m => m.jobData.Salary, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Work mode</label>
                <div style="display: flex; flex-direction: column; gap: 10px;">
                    @Html.DropDownListFor(m => m.jobData.WorkMode, new SelectList(new[] { "FullTime", "PartTime", "Remote", "NotSpecified" }), "select work mode", new { @class = "form-control skill-input" })
                </div>
            </div>

            <div class="form-group">
                <label>Summary</label>
                <div style="display: flex; flex-direction: column; gap: 10px;">
                    @Html.TextAreaFor(m => m.jobData.Summary, new { @class = "form-control skill-input", placeholder = "Describe your job" })
                    @Html.ValidationMessageFor(m => m.jobData.Summary, "", new { @class = "text-danger" })
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-25">Create</button>
        </div>
    </form>
}
