
@{
    ViewBag.Title = "CV";
}

@model Application.Models.JobsListCVVIewModel
@if (Model.cv != null)
{
    <div>
        <h3 style="margin-top: 26px">User CV</h3>
        <div style="border: 1px solid black; padding: 10px; font-size: 18px; font-weight: 500; border-radius: 6px; position: relative">
            <div>
                <p>Skills:</p>
                <ul>
                    @foreach (var item in Model.cv.Skills)
                    {
                        <li>@item.Name</li>
                    }
                </ul>
            </div>
            <div>
                <p>Educations:</p>
                <ul>
                    @foreach (var item in Model.cv.Educations)
                    {
                        <li>@item.Name   -   @item.Duration year</li>
                    }
                </ul>
            </div>
            <div>
                <p>Experiences:</p>
                <ul>
                    @foreach (var item in Model.cv.Experiences)
                    {
                        <li>@item.Name - @item.Duration year</li>
                    }
                </ul>
            </div>
            <div>
                <p>Summary: <span style="font-weight: 400">@Model.cv.Summary</span></p>
            </div>
        </div>
    </div>
}

