
@{
    ViewBag.Title = "JobDetails";
}

@model Application.Models.Job.JobDetailsViewModel




@using (Html.BeginForm("ScheduleInterview", "Jobs", FormMethod.Post))
{
    <div class="modal fade" id="interviewModal" tabindex="-1" role="dialog" aria-labelledby="acceptModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="acceptModalLabel">Schedule interview</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                @Html.Hidden("jobIdInterview", "", new { id = "jobIdInterview" })
                @Html.Hidden("userIdInterview", "", new { id = "userIdInterview" })
                <div class="modal-body" style="display: flex; flex-direction: column; gap: 4px">
                    <input type="text" id="acceptMessage" class="form-control" name="message" placeholder="Enter your message...">
                    <input type="date" id="dateMessage" class="form-control" name="date" placeholder="Enter date...">
                    <input type="time" id="timeMessage" class="form-control" name="time" placeholder="Enter time...">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>
}


@using (Html.BeginForm("Accept", "Jobs", FormMethod.Post))
{
    <div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="acceptModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="acceptModalLabel">Accept Job</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                @Html.Hidden("jobIdAccept", "", new { id = "jobIdAccept" })
                @Html.Hidden("userIdAccept", "", new { id = "userIdAccept" })
                <div class="modal-body">
                    <input type="text" id="acceptMessage" class="form-control" name="message" placeholder="Enter your message...">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>
}






<h2>JobDetails</h2>
<div style="font-size: 24px; padding-top: 16px">
    <div>
        <p class="m-0">Vacancy: @Model.job.Vacancy</p>
    </div>
    <div>
        <p class="m-0">Minimal experience: @Model.job.MinExp</p>
    </div>
    <div>
        <p class="m-0">Salarry: @Model.job.Salary$</p>
    </div>
    <div>
        <p class="m-0">Applications: @Model.job.ApplicationCount</p>
    </div>
</div>

<h4 style="margin-top: 20px; color: gray">Job applications:</h4>
<div style="display: flex; width: 100%; flex-direction: column; gap: 5px">
    @foreach (var application in Model.applications)
    {
        <div style="border: 1px solid gray; border-radius: 5px; padding: 5px; flex: 1; width: 100%; display: flex">
            <div style="display: flex; flex-direction: column; max-width: 600px">
                <p style="margin: 0">User email: @application.userEmail</p>
                <p style="margin: 0">Message: @application.message</p>
            </div>
            <div style="margin-left: auto">
                <button class="btn btn-primary" onclick="showAcceptModal(@Model.job.Id, @application.userId)">Accept</button>
                <button class="btn btn-primary" onclick="showInterviewModal(@Model.job.Id, @application.userId)">Schedule an interview</button>
            </div>
        </div>
    }
</div>

<script>
    function showInterviewModal(jobId, userId) {
        console.log("Job ID:", jobId, "User ID:", userId);
        $('#jobIdInterview').val(jobId);
        $('#userIdInterview').val(userId);
        $('#interviewModal').modal('show');
    }

    function showAcceptModal(jobId, userId) {
        console.log("Job ID:", jobId, "User ID:", userId);
        $('#jobIdAccept').val(jobId);
        $('#userIdAccept').val(userId);
        $('#acceptModal').modal('show');
    }
</script>
